beautifulsoup4==4.10.0
cxxfilt==0.3.0
lxml==4.9.1
matplotlib==3.3.4
PyYAML==6.0
soupsieve==2.2.1
yapf==0.32.0
flake8
pep8
mypy
psutil
pytest
sphinx==6.0.0
sphinx_rtd_theme
configparser
coverage
atheris
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability 
tqdm # For displaying loading bar (auto-fuzz tool)
