{% extends "base.html" %}                                                       
{% block content %}        
<!-- main content -->
    <main>
      <!-- hero area -->
      <section class="search__hero overview__hero">
        <div class="container">
          <div class="search__hero-wrapper">
            <h1 class="section__title">
              Fuzzing Introspection of OSS-Fuzz projects
            </h1>
          </div>
          <div class="database overviewBody">
            <div class="database__header">
              <div class="database__header-right">
                <button type="button" class="btn__table" onclick="location.href='https://github.com/ossf/fuzz-introspector'">
                  Fuzz Introspector
                </button>
                <button type="button" class="btn__table" onclick="location.href='https://github.com/ossf/fuzz-introspector/issues'">Suggest ideas</button>
                <button type="button" class="btn__table" onclick="location.href='https://github.com/ossf/fuzz-introspector/issues'">Report issues</button>
              </div>
            </div>
            <div class="database__body">
              <table id="projectOverviewTable">
                <thead>
                  <tr>
                    <td>Project name</td>
                    <td>Language</td>
                    <td>Fuzz target count</td>
                    <td>Runtime code coverage</td>
                    <td>Total lines</td>
                    <td>Lines covered</td>
                  </tr>
                </thead>
                <tbody>
                {% for project in all_projects %}
                  <tr>
                      <td> <a href="/project-profile?project={{project.name}}">{{ project.name }}</a> </td>
                      <td> {{ project.language }} </td>
                      <td> {{ project.fuzzer_count }} </td>
                      <td> {{ '%0.2f' % project.coverage_data.line_coverage.percent |float }}% </td>
                      <td> {{ project.coverage_data.line_coverage.count }}</td>
                      <td> {{ project.coverage_data.line_coverage.covered }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- end hero area -->
    </main>
    <!-- end main content -->
 <script>
  $( document ).ready(function() {
    $('#projectOverviewTable').dataTable({'pageLength': 1000})
  });
 </script> 
{% endblock %}
