{% extends "base.html" %}                                                       
{% block content %}   

<!-- end header -->
    <!-- main content -->
    <main class="functions__profile">
      <section class="project__profile">
        <div class="container">
          <div class="project__profile-wrapper">
            <div class="pr__profile-header">
              <h2>Project: <a href="https://github.com/google/oss-fuzz/tree/master/projects/{{project.name}}"> {{ project.name }}</a></h2>
            </div>
            <div class="profile__table" style="max-width: 450px">
              <table>
                <tbody>
                  <tr>
                    <td>Language</td>
                    <td> {{ project.language }}
                  </tr>
                  <tr>
                    <td>OSS-Fuzz project</td>
                    <td><a href="https://github.com/google/oss-fuzz/tree/master/projects/{{project.name}}">link</a></td>
                  </tr>
                  <tr>
                    <td>Build status: Fuzzers</td>
                    <td>
                    {% if project_build_status.fuzz_build_status == false %}
                      failing:
                    {% else %}
                      succeeding:
                    {% endif %}
                    <a href="{{project_build_status.fuzz_build_log}}">Build log</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Build status: Code coverage</td>
                    <td>
                      {% if project_build_status.coverage_build_status == false %}
                        failing:
                      {% else %}
                        succeeding:
                      {% endif %}
                      <a href="{{project_build_status.coverage_build_log}}">Build log</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Build status: Fuzz Introspector</td>
                    <td>
                      {% if project_build_status.introspector_build_status == false %}
                        failing:
                      {% else %}
                        succeeding:
                      {% endif %}
                      <a href="{{project_build_status.introspector_build_log}}">Build log</a></td>
                  </tr>                                    
                  <tr>
                    <td>Fuzzer count</td>
                      <td> {{ project.fuzzer_count }}</td>
                  </tr>
                  <tr>
                    <td>Lines of code</td>
                    <td>
                      {% if project.coverage_data is not none %} 
                        {{ project.coverage_data.line_coverage.count }}
                      {% else %}
                        N/A
                      {% endif %} 
                    </td>
                  </tr>
                  <tr>
                    <td>Lines covered</td>
                    <td>
                      {% if project.coverage_data is not none %}
                        {{ project.coverage_data.line_coverage.covered }}
                      {% else %}
                        N/A
                      {% endif %} 
                    </td>
                  </tr>
                  <tr>
                    <td>Code coverage</td>
                    {% if has_project_details %}
                      <td> {{ '%0.2f' % project.coverage_data.line_coverage.percent |float}}% </td>
                    {% else %}
                      <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>Code coverage report</td>
                      {% if has_project_details %}
                        <td><a href="{{ project.coverage_data.coverage_url }}">Report link</a></td>
                      {% else %}
                        <td>N/A</td>
                      {% endif %}
                  </tr>
                  <tr>
                    <td>Static reachability</td>
                    {% if project.has_introspector() %}
                      <td> {{ '%0.2f' % project.introspector_data.static_reachability |float }}% </td>
                    {% else %}
                      <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>Fuzz Introspector report</td>
                    {% if project.has_introspector() %}
                      <td><a href="{{ project.introspector_data.introspector_report_url }}">Report link</a></td>
                    {% else %}
                      <td>N/A</td>
                    {% endif %}
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
          <!-- project profile table -->
          <div class="project__progress">
            <h2>Historical progression</h2>
            <div class="progress__graph">
              <!-- single graph -->
              <div class="single__graph">
                <div class="graph__chart">
                    <div id="codeCoverageLinesOverTimePlot" style="width:100%;max-width:500px"></div>
                </div>
              </div>
              <!-- single graph -->
              <div class="single__graph">
                <div class="graph__chart">
                    <div id="fuzzerCountOverTimePlot" style="width:100%;max-width:500px"></div>
                </div>
              </div>
              <!-- single graph -->
              {% if project.has_introspector() %}
              <div class="single__graph">
                <div class="graph__chart">
                    <div id="codeCoverageFunctionsOverTimePlot" style="width:100%;max-width:500px"></div>
                </div>
              </div>
              <!-- single graph -->
              <div class="single__graph">
                <div class="graph__chart">
                    <div id="staticReachabilityOverTimePlot" style="width:100%;max-width:500px"></div>
                </div>
              </div>
            </div>
              {% else %}
            </div>
            <p>
              <h4>Missing Introspector data</h4>
              <p>Some graphs are not shown as there is no Fuzz Introspector data available. Please see indexing page for the relevant build logs. Once the build is working additionals graphs will be displayed.
              </p>
            </p>
          {% endif %}
          </div> <!-- project historical progress -->
        </div>
      </section>

      <!-- Functions of interest forthe given project -->
      {% if project.has_introspector() %}
      <div class="container">
        <div class="search__hero-wrapper">
          <h1 class="section__title">
            Functions of interest to fuzz
          </h1>
          <p>
            This section outlines functions that may be of interest to fuzz.
            They are based on ranking functions that have a lot of complexity but currently
            exhibit low code coverage. The complexity is calculated based on the function itself
            as well as the functions called by the given function, i.e. the tree of code
            that the function triggers.
          </p>
          <br>
          <p>
            This is only a minor amount of introspection information available for this project. Please
            consult the <a href="{{ project.introspector_data.introspector_report_url }}">Fuzz Introspector</a> report
            for more information, e.g. the introspection table of all functions in the target
            project <a href="{{ project.introspector_data.introspector_report_url }}#Project-functions-overview">available here</a>.
          </p>
        </div>
        <div class="database overviewBody">
  
          <div class="database__body">
            <div>
              <table id="functionOfInterestTable">
                <thead>
                  <tr>
                    <td>Function name</td>
                    <td>Function source file</td>
                    <td>Accumulated cyclomatic complexity</td>
                    <td>Code coverage</td>
                  </tr>
                </thead>
                <tbody>
                  {% for func_of_interest in functions_of_interest %}
                    <tr>
                      <td>  <a href="{{func_of_interest.code_coverage_url}}">{{func_of_interest.function_name}}</a></td>
                      <td>  {{func_of_interest.src_file}}</td>
                      <td>  {{func_of_interest.complexity}}</td>
                      <td>  {{func_of_interest.code_coverage}}%</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- End functions of interest -->

    </main>
    <!-- end main content -->
    <!-- footer -->
{% if has_project_details %}    
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- end main content -->
    {% if project.has_introspector() %}
 <script>
  $( document ).ready(function() {
    $('#functionOfInterestTable').dataTable({'pageLength': 1000})
  });
 </script>
 {% endif %}

<script>
// Plot for code coverage in terms of lines over time
const code_coverage_lines_x = [];
const code_coverage_lines_y = [];
const code_coverage_functions_y = [];
const code_reachability_y = [];
const fuzzer_count_y = [];
max_fuzzer_count = 0;

{% for project_timestamp in project_statistics %}
  code_coverage_lines_x.push("{{project_timestamp.date}}");
  code_coverage_lines_y.push({{project_timestamp.coverage_data.line_coverage.percent}});
  fuzzer_count_y.push({{project_timestamp.fuzzer_count}});
  max_fuzzer_count = Math.max(max_fuzzer_count, {{project_timestamp.fuzzer_count}});

  // Stats dependending on fuzz introspector
  {% if project.has_introspector() %}
    code_coverage_functions_y.push({{project_timestamp.introspector_data.functions_covered_estimate}});
    code_reachability_y.push({{project_timestamp.introspector_data.static_reachability}});
  {% endif %}
{%endfor%}

// Plot for code coverage in terms of lines over time
const code_coverage_lines_data = [{
  x: code_coverage_lines_x,
  y: code_coverage_lines_y,
  mode:"lines"
}];
const code_coverage_lines_layout = {
  xaxis: {title: "Date"},
  yaxis: {title: "Coverage", range: [0.0, 100.0]},  
  title: "Code Coverage (lines) %",
  type: "scatter"
};
Plotly.newPlot("codeCoverageLinesOverTimePlot", code_coverage_lines_data, code_coverage_lines_layout);

// Plot for fuzzer counter over time
const fuzzer_count_data = [{
  x: code_coverage_lines_x,
  y: fuzzer_count_y,
  mode:"lines"
}];
const fuzzer_count_layout = {
  xaxis: {title: "Date"},
  yaxis: {title: "Fuzzers", range: [0.0, max_fuzzer_count + 5]},
  title: "Fuzzer count",
  type: "scatter"
};
Plotly.newPlot("fuzzerCountOverTimePlot", fuzzer_count_data, fuzzer_count_layout);

{% if project.has_introspector() %}
// Plots dependend on Fuzz Introspector
// Plot for code coverage in terms of functions over time
const code_coverage_functions_data = [{
  x: code_coverage_lines_x,
  y: code_coverage_functions_y,
  mode:"lines"
}];
const code_coverage_functions_layout = {
  xaxis: {title: "Date"},
  yaxis: {title: "Coverage", range: [0.0, 100.0]},  
  title: "Code Coverage (functions) %",
  type: "scatter"
};
Plotly.newPlot("codeCoverageFunctionsOverTimePlot", code_coverage_functions_data, code_coverage_functions_layout);


// Plot for static rachability over time
const code_reachability_data = [{
  x: code_coverage_lines_x,
  y: code_reachability_y,
  mode:"lines"
}];
const code_reachability_layout = {
  xaxis: {title: "Date"},
  yaxis: {title: "Reachability", range: [0.0, 100.0]},  
  title: "Static reachability %",
  type: "scatter"
};
Plotly.newPlot("staticReachabilityOverTimePlot", code_reachability_data, code_reachability_layout);
{% endif %}


</script>
{% endif %}

{% endblock %}
