{% extends "base.html" %}                                                       
{% block content %}   
<!-- main content -->
    <main>
      <section class="project__profile">
        <div class="container">
          <div class="project__profile-wrapper">
            <div class="pr__profile-header">
              <h2>
                Function:
                <a
                  href="https://storage.googleapis.com/oss-fuzz-coverage/openssh/reports/20230303/linux/src/openssh/krl.c.html#L983"
                  target="_blank"
                >
                  sshkey_check_revoked
                </a>
              </h2>
              <h2>
               Project:
                <a
                  href="https://storage.googleapis.com/oss-fuzz-coverage/openssh/reports/20230303/linux/src/openssh/krl.c.html#L983"
                  target="_blank"
                >
                  <a href="/project-profile">openssl</a>
                </a>
              </h2>
            </div>
            <div class="profile__table">
              <table>
                <tbody>
                  <tr>
                    <td>Function filename</td>
                    <td>{{ function_profile.function_filename }}</td>
                  </tr>
                  <tr>
                    <td>Code coverage</td>
                    <td>{{ function_profile.runtime_code_coverage }}%</td>
                  </tr>
                  <tr>
                    <td>Coverage by fuzzers:</td>
                    <td>{{ function_profile.coverage_by_fuzzers }}</td>
                  </tr>
                  <tr>
                    <td>Reached by fuzzers</td>
                    <td>{{ function_profile.reached_by_fuzzers }}</td>
                  </tr>
                  <tr>
                    <td>Fuzz Introspector report</td>
                    <td><a href="#"> {{ function_profile.fuzz_introspector_report_url }}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- project profile table -->
          <div class="profile__project-table">
            <div class="profile__project-table-header">
              <h3>
                Functions with similar name in different OSS-Fuzz projects
              </h3>
            </div>
            <div class="database">
              <div class="database__header">
                <div class="database__header-left">
                  <!-- database select -->
                  <div class="database__select">
                    <select name="page" id="page">
                      <option value="0">24 per page</option>
                      <option value="1">50 per page</option>
                      <option value="2">100 per page</option>
                    </select>
                  </div>
                  <!-- database search -->
                  <div class="database__search">
                    <span>
                      <img src="{{ url_for('static', filename='assets/img/search.svg') }}" alt="search" />
                    </span>
                    <input type="search" placeholder="Search table" />
                  </div>
                </div>
              </div>
              <div class="database__body">
                <table>
                  <thead>
                    <tr>
                      <td>Function name</td>
                      <td>Project</td>
                      <td>Is reached?</td>
                      <td>Code coverage</td>
                      <td>Runtime code coverage</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for func in related_functions %}
                      <tr>
                          <td> <a href="/function-profile">{{ func.name }}</a> </td>
                          <td> <a href="/project-profile"> {{ func.project.name }} </a></td>
                          <td> y </td>
                          <td> y </td>
                          <td> y </td>
                      </tr>
                    {% endfor %}                    
                  </tbody>
                </table>
              </div>
              <!-- entry count -->
              <p class="table__data-count">
                Showing <span>1</span> to <span>10</span> of
                <span>4132</span> entries
              </p>
              <!-- pagination -->
              <div class="pagination">
                <ul>
                  <li><a href="#">Previous</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                </ul>
                <ul>
                  <li><a href="#">Next</a></li>
                  <li><a href="#">Last</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- end main content -->

{% endblock %}
