{% extends "base.html" %}                                                       
{% block content %}        
<!-- main content -->
    <main>
      <!-- hero area -->
      <section class="search__hero overview__hero">
        <div class="container">
          <div class="search__hero-wrapper">
            <h1 class="section__title">
              Fuzzing Introspection of OSS-Fuzz projects
            </h1>
          </div>
          <div class="database overviewBody">
            <div class="database__header">
              <div class="database__header-right">
                <button type="button" class="btn__table">
                  Fuzz Introspector
                </button>
                <button type="button" class="btn__table">Suggest ideas</button>
                <button type="button" class="btn__table">Report issues</button>
              </div>
            </div>
            <div class="database__body">
              <table id="projectOverviewTable">
                <thead>
                  <tr>
                    <td>Project name</td>
                    <td>Language</td>
                    <td>Fuzz target count</td>
                    <td>Code statically reached</td>
                    <td>Runtime code coverage</td>
                  </tr>
                </thead>
                <tbody>
                {% for project in all_projects %}
                  <tr>
                      <td> <a href="/project-profile">{{ project.name }}</a> </td>
                      <td> {{ project.language }} </td>
                      <td> {{ project.fuzz_count }} </td>
                      <td> {{ project.reach }} </td>
                      <td> {{ project.runtime_cov }} </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- end hero area -->
    </main>
    <!-- end main content -->
 <script>
  $( document ).ready(function() {
    let table = new DataTable('#projectOverviewTable');
  });
 </script> 
{% endblock %}
