name: Java Format
permissions: read-all
on:
  pull_request:
    paths:
      - 'frontends/java/**'
      - '.github/workflows/google-java.yml'
      - 'tools/auto-fuzz/benchmark/jvm/**'
jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--replace"
          skip-commit: true
          files:
            - 'frontends/java/**'
            - '.github/workflows/google-java.yml'
            - 'tools/auto-fuzz/benchmark/jvm/**'
      - name: Print diffs
        run: git --no-pager diff --exit-code
