name: Mypy

on:
  pull_request:
    paths:
      - 'src/**'
      - 'frontends/python/**'
      - 'oss_fuzz_integration/**'
      - '.github/workflows/mypy.yml'
permissions: read-all
jobs:
  build:
    runs-on: ubuntu-latest
    name: Mypy
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v2.4.0
    - name: Set up Python 3.8
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v3.0.0
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        pip install mypy types-PyYAML
    - name: mypy
      run: |
        cd src && mypy --ignore-missing-imports -m main
