name: Unit tests

on:
  pull_request:
    paths:
      - 'frontends/**'
      - 'src/**'
      - 'test/**'
      - '.github/workflows/testing.yml'
permissions: read-all
jobs:
  unittests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - name: Check out source repository
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v2.4.0
      - name: Set up Python environment
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v3.0.0
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Prepare test case files
        run: |
          cd tests/java && ./runTest.sh test3 && ./runTest.sh test4 && ./runTest.sh test11 && ./runTest.sh test12
      - name: Test unittests and generate coverage report
        run: |
          coverage run -m pytest -vv src/test/
      - name: Display and clean up unittests coverage report
        run: |
          coverage report -m
          rm .coverage
